* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.navigation div {
  flex: 50%;
}
.nav {
  display: flex;
  list-style: none;
}

.link {
  cursor: pointer;
  margin: 16px 40px 20px 27px;
}

.link a {
  text-decoration: none;
  font: normal normal normal 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}
.link a:hover {
  font: normal normal 600 16px/20px IBM Plex Sans;
}
.login {
  text-align: end;
  margin: 16px 30px;
}

.login a {
  text-decoration: none;
  font: normal normal normal 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}
.login a:hover {
  font: normal normal 600 16px/20px IBM Plex Sans;
}

.header {
  width: 100%;
  height: 160px;
  /* margin-bottom: 140px; */
  background: #002d9c 0% 0% no-repeat padding-box;
  font: normal normal 600 50px/65px IBM Plex Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

.header p {
  padding: 40px 0 52px 40px;
}

.collapsible {
  background: rgba(15, 98, 254, 0.13) 0% 0% no-repeat padding-box;
  cursor: pointer;
  display: flex;
  text-align: left;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font: normal normal 600 22px/29px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  position: relative;
}
.collapsible span {
  padding: 10px;
}
.plus {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: rgba(15, 98, 254, 1) 0% 0% no-repeat padding-box;
}

.collapsible .plus::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  transform: translateY(-50%);
  background: white;
  left: 15px;
  top: 50%;
}

.active .plus {
  transform: translateY(-90deg);
  transition: all 0.5s ease;
}
.active,
.collapsible:hover {
  /* background-color: #555; */
}

.content {
  /* padding: 0 18px; */
  margin: 10px 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  /* background-color: #f1f1f1; */
}

.container {
  width: 90%;
  margin: 50px auto;
}

table {
  width: 100%;
  text-align: left;
}

tr:first-child {
  background: rgba(223, 235, 255, 0.42) 0% 0% no-repeat padding-box;
  /* opacity: 0.42; */
}

th {
  font: normal normal 600 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
  padding: 16px;
}

td {
  font: normal normal normal 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

td:first-child {
  background: rgba(245, 245, 245, 1) 0% 0% no-repeat padding-box;
}

td:nth-child(2),td:last-child{
    /* display: flex;
    flex-direction: column; */
}

td:nth-child(2) div{
    padding: 16px;
}

td div:nth-child(odd) {
  background: rgba(245, 245, 245, 1) 0% 0% no-repeat padding-box;
  opacity: 1;
}

td div:nth-child(even) {
  /* padding: 16px; */
  background: rgba(245, 245, 245, 0.7) 0% 0% no-repeat padding-box;
  opacity: 1;
}

td div{
    padding: 16px;
}

ul {
  list-style: none;
}

td:first-child,
th:first-child {
  width: 20%;
  /* border: 1px solid white; */
}

td:nth-child(2), th:nth-child(2){
    width: 30%;
}

