* {
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.navigation div {
  flex: 50%;
}
.nav {
  display: flex;
  list-style: none;
}

.nav .link{
  cursor: pointer;
  margin: 16px 40px 20px 27px;
}

.link a{
  text-decoration: none;
  font: normal normal normal 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}
.link a:hover{
  font: normal normal 600 16px/20px IBM Plex Sans;
}

.login {
  text-align: end;
  margin: 16px 30px;
}

.login a{
  text-decoration: none;
  font: normal normal normal 16px/20px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}
.login a:hover{
  font: normal normal 600 16px/20px IBM Plex Sans;
}

.header {
  background: #002D9C;
  width: 100%;
  height: 460px;
}
.heading {
  padding: 172px 0 55px 75px;
  font: normal normal 600 90px/91px IBM Plex Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

.subheading {
  font: normal normal 600 70px/91px IBM Plex Sans;
  letter-spacing: 0px;
  color: #d0e2ff;
}

.content {
  margin: 103px 89px 156px 94px;
  /* width: 1739px; */
  display: flex;
  flex-direction: column;
  /* height: 1171px; */
}
.introduction h1 {
  /* width: 1739px; */
  font: normal normal 300 60px/40px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}

.introduction p {
  margin-top: 10px;
  font: normal normal normal 30px/40px IBM Plex Sans;
  letter-spacing: 0px;
  color: #000000;
}

.border-image {
  display: flex;
  position: absolute;
  top: 790px;
}
.comma-box {
  background: white;
  margin-left: 70px;
  width: 203px;
  height: 246px;
  /* position: absolute;
    top: 790px; */
  z-index: 10;
  font: normal normal normal 430px/501px Engravers MT;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.image-box {
  /* width: 370px;
  height: 370px; */
  margin-left: 151%;
}
.box {
  margin-top: 150px;
  border: 3px solid rgba(198, 198, 198, 0.5);
  width: 100%;
  height: 844px;
}

.text-1 {
  margin-top: 115px;
  margin-left: 65px;
  margin-bottom: 20px;
  font: normal normal 300 80px/90px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(82, 82, 82, 1);
}

.highlight {
  font: normal normal bold 90px/90px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(15, 98, 254, 1);
}

.underline {
  background: rgba(15, 98, 254, 1) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin-top: 10px;
  width: 136px;
  height: 13px;
  /* color:rgba(15, 98, 254, 1); */
}

.text-2 {
  display: flex;
  flex-direction: row;
}
.detail {
  flex: 50%;
  margin-top: 180px;
  margin-left: 68px;
  font: normal normal normal 40px/46px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(0, 0, 0, 1);
}

.detail a {
  font: normal normal normal 40px/46px IBM Plex Sans;
  letter-spacing: 0px;
  color: rgba(15, 98, 254, 1);
}

.video video {
  width: 835px;
  height: 465px;
  margin: 30px;
}

.secondheading {
  text-align: end;
  margin-right: 25px;
}

.underline-2 {
  margin-left: 693px;
}

.second-border {
  top: 1800px;
}

.second-image {
  margin-left: 10%;
}

.third-border {
  top: 2795px;
}

.footer {
  display: flex;
  height: 18px;
  background: white;
  margin: 88px 70px 50px 67px;
}

.footer ul {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font: normal normal normal 14px/25px IBM Plex Sans;
  letter-spacing: 0px;
  color: #6f6f6f;
}

.footer div {
  text-align: end;
  flex: 50%;
  font: normal normal normal 14px/25px IBM Plex Sans;
  letter-spacing: 0px;
}
